﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.Master" AutoEventWireup="true" CodeBehind="Contact.aspx.cs" Inherits="BookStore.Contact" %>

<asp:Content ID="Content1" ContentPlaceHolderID="mainContent" runat="server">
	<div class="title">
		<span class="title_icon">
			<img src="images/bullet1.gif" alt="" title="" /></span>Contact Us
	</div>

	<div class="feat_prod_box_details">
		<div class="contact_form">
			<div class="form_subtitle">all fields are requierd</div>
			<div class="form_row">
				<label class="contact"><strong>Name:</strong></label>
				<input type="text" class="contact_input" />
			</div>

			<div class="form_row">
				<label class="contact"><strong>Email:</strong></label>
				<input type="text" class="contact_input" />
			</div>


			<div class="form_row">
				<label class="contact"><strong>Phone:</strong></label>
				<input type="text" class="contact_input" />
			</div>

			<div class="form_row">
				<label class="contact"><strong>Company:</strong></label>
				<input type="text" class="contact_input" />
			</div>


			<div class="form_row">
				<label class="contact"><strong>Message:</strong></label>
				<textarea class="contact_textarea"></textarea>
			</div>


			<div class="form_row">
				<a href="#" class="contact">send</a>
			</div>
		</div>

	</div>

	<div class="clear"></div>
</asp:Content>
