﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.Master" AutoEventWireup="true" CodeBehind="MostSearched.aspx.cs" Inherits="BookStore.MostSearched" %>

<asp:Content ID="Content1" ContentPlaceHolderID="mainContent" runat="server">
	<div class="title"><span class="title_icon">
		<img src="images/bullet1.gif" alt="" title="" /></span>Most Searched</div>

	<div class="feat_prod_box">

		<div class="prod_img"><a href="details.aspx">
			<img src="images/prod1.gif" alt="" title="" border="0" /></a></div>

		<div class="prod_det_box">
			<div class="box_top"></div>
			<div class="box_center">
				<div class="prod_title">Product name</div>
				<p class="details">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
				<a href="details.aspx" class="more">- more details -</a>
				<div class="clear"></div>
			</div>

			<div class="box_bottom"></div>
		</div>
		<div class="clear"></div>
	</div>


	<div class="feat_prod_box">

		<div class="prod_img"><a href="details.aspx">
			<img src="images/prod2.gif" alt="" title="" border="0" /></a></div>

		<div class="prod_det_box">
			<div class="box_top"></div>
			<div class="box_center">
				<div class="prod_title">Product name</div>
				<p class="details">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
				<a href="details.aspx" class="more">- more details -</a>
				<div class="clear"></div>
			</div>

			<div class="box_bottom"></div>
		</div>
		<div class="clear"></div>
	</div>



	<div class="title"><span class="title_icon">
		<img src="images/bullet2.gif" alt="" title="" /></span>New books</div>

	<div class="new_products">

		<div class="new_prod_box">
			<a href="details.aspx">product name</a>
			<div class="new_prod_bg">
				<span class="new_icon">
					<img src="images/new_icon.gif" alt="" title="" /></span>
				<a href="details.aspx">
					<img src="images/thumb1.gif" alt="" title="" class="thumb" border="0" /></a>
			</div>
		</div>

		<div class="new_prod_box">
			<a href="details.aspx">product name</a>
			<div class="new_prod_bg">
				<span class="new_icon">
					<img src="images/new_icon.gif" alt="" title="" /></span>
				<a href="details.aspx">
					<img src="images/thumb2.gif" alt="" title="" class="thumb" border="0" /></a>
			</div>
		</div>

		<div class="new_prod_box">
			<a href="details.aspx">product name</a>
			<div class="new_prod_bg">
				<span class="new_icon">
					<img src="images/new_icon.gif" alt="" title="" /></span>
				<a href="details.aspx">
					<img src="images/thumb3.gif" alt="" title="" class="thumb" border="0" /></a>
			</div>
		</div>

	</div>


	<div class="clear"></div>
</asp:Content>
