﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.Master" AutoEventWireup="true" CodeBehind="Specials.aspx.cs" Inherits="BookStore.Specials" %>

<asp:Content ID="Content1" ContentPlaceHolderID="mainContent" runat="server">
	<div class="title"><span class="title_icon">
		<img src="images/bullet1.gif" alt="" title="" /></span>Special gifts</div>

	<div class="feat_prod_box">

		<div class="prod_img"><a href="details.aspx">
			<img src="images/prod1.gif" alt="" title="" border="0" /></a></div>

		<div class="prod_det_box">
			<span class="special_icon">
				<img src="images/special_icon.gif" alt="" title="" /></span>
			<div class="box_top"></div>
			<div class="box_center">
				<div class="prod_title">Product name</div>
				<p class="details">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
				<a href="details.aspx" class="more">- more details -</a>
				<div class="clear"></div>
			</div>

			<div class="box_bottom"></div>
		</div>
		<div class="clear"></div>
	</div>


	<div class="feat_prod_box">

		<div class="prod_img"><a href="details.aspx">
			<img src="images/prod2.gif" alt="" title="" border="0" /></a></div>

		<div class="prod_det_box">
			<span class="special_icon">
				<img src="images/special_icon.gif" alt="" title="" /></span>
			<div class="box_top"></div>
			<div class="box_center">
				<div class="prod_title">Product name</div>
				<p class="details">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
				<a href="details.aspx" class="more">- more details -</a>
				<div class="clear"></div>
			</div>

			<div class="box_bottom"></div>
		</div>
		<div class="clear"></div>
	</div>



	<div class="feat_prod_box">

		<div class="prod_img"><a href="details.aspx">
			<img src="images/prod1.gif" alt="" title="" border="0" /></a></div>

		<div class="prod_det_box">
			<span class="special_icon">
				<img src="images/special_icon.gif" alt="" title="" /></span>
			<div class="box_top"></div>
			<div class="box_center">
				<div class="prod_title">Product name</div>
				<p class="details">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
				<a href="details.aspx" class="more">- more details -</a>
				<div class="clear"></div>
			</div>

			<div class="box_bottom"></div>
		</div>
		<div class="clear"></div>
	</div>


	<div class="feat_prod_box">

		<div class="prod_img"><a href="details.aspx">
			<img src="images/prod2.gif" alt="" title="" border="0" /></a></div>

		<div class="prod_det_box">
			<span class="special_icon">
				<img src="images/special_icon.gif" alt="" title="" /></span>
			<div class="box_top"></div>
			<div class="box_center">
				<div class="prod_title">Product name</div>
				<a href="details.aspx" class="more">- more details -</a>
				<div class="clear"></div>
			</div>

			<div class="box_bottom"></div>
		</div>
		<div class="clear"></div>
	</div>

	<div class="pagination">
		<span class="disabled"><<</span><span class="current">1</span><a href="#?page=2">2</a><a href="#?page=3">3</a>…<a href="#?page=199">10</a><a href="#?page=200">11</a><a href="#?page=2">>></a>
	</div>


	<div class="clear"></div>
</asp:Content>
